main{
    width: 600px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#voltarId{
    color: rgb(180, 180, 180);
    cursor: default;
}