div {
	display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 100px auto;
    gap: 20px;
}

div button, input {
	padding: 5px;
}

div img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
	visibility: hidden;
}