@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --backgroundBody: #0F0F0F;
  --border: #00E0FF;
  --font: "Poppins";
  --button: linear-gradient(to right, #00E0FF, #0D5DE7, #002299);
}

body{
    background-color: var(--backgroundBody);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

main{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#mainloginId{
    font-family: var(--font);
    border: 1px solid var(--border);
    border-radius: 24px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 12px;
}

input{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-bottom: 16px;
    padding: 0px 12px;
    width: 300px;
    height: 22px;
    border: 1px solid white;
    border-radius: 12px;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.699);
}

#check{
    width: 20px;
    height: 30px;
}

#checkSpan{
    display: flex;
    flex-direction: row;
}

span label{
    margin-top: 8px;
    margin-left: 5px;
}

button{
    background-image: var(--button);
    width: 120px;
    color: white;
    padding: 4px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    border-color: white;
}

#dadosPessoais{
    background-color: #1E1E1E;
    width: 100%;
    height: 382px;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 12px;
    display: none;
}

#imagem{
    background-color: gray;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin-bottom: 12px;
}

#imageContain{
    width: 15%;
    height: 100%;
    border-right: 1px solid black;
    padding: 12px;
}

#labelImage{
    margin: 0;
}

#selectImageId{
    display: none;
    margin: 0;
}

#dados{
    margin-left: 12px;
    font-family: var(--font);
}

h2{
    margin: 0;
    font-size: 16px;
}

p{
    font-size: 14px;
}

a{
    color: var(--border);
}

a:hover{
    color: #0D5DE7;
}

@media screen and (max-width:800px){
    #dadosPessoais{
        display: none;
        flex-direction: column;
        height: 80vh;
    }

    #imagem{
        width: 130px;
    }

    #imageContain{
        height: 40%;
        border: 0;
    }
}